.bg-primary {
  background-image: url("../assert/essay\ solar/image.png");
}

@font-face {
  font-family: "Roobert TRIAL";
  src: url("/Maxcos/_RoobertTRIAL-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
